### Q1. Check if the number is Positive or Zero. If Zero then print Zero else Positive. Else Negative.

In [3]:
a = int(input('Please enter a number '))
if (a >= 0):
    if (a == 0):
        print('The number is Zero.')
    else:
        print('The number is Positive')
else:
    print('The number is Negative.')

Please enter a number 0
The number is Zero.

# Iterators in Python

1. For Loop
2. While Loop

In [4]:
for i in range(5):
    print('Hello World!')

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [5]:
print(i)

4

In [6]:
for i in range(5):
    print('Value of i is',i)

Value of i is 0
Value of i is 1
Value of i is 2
Value of i is 3
Value of i is 4

In [7]:
cities = ['Nagpur','Mumbai','Pune','Hyderabad','Chennai']

In [8]:
cities

['Nagpur', 'Mumbai', 'Pune', 'Hyderabad', 'Chennai']

In [9]:
for city in cities:
    print('I love',city)

I love Nagpur
I love Mumbai
I love Pune
I love Hyderabad
I love Chennai

In [10]:
print('Value of City is',city)

Value of City is Chennai

# Try printing I love cities in reverse order from above example.

In [13]:
cities

['Nagpur', 'Mumbai', 'Pune', 'Hyderabad', 'Chennai']

In [11]:
cities[::-1]

['Chennai', 'Hyderabad', 'Pune', 'Mumbai', 'Nagpur']

In [12]:
for city in cities[::-1]:
    print('I love',city)

I love Chennai
I love Hyderabad
I love Pune
I love Mumbai
I love Nagpur

In [14]:
for city in cities[::2]:
    print('I love',city)

I love Nagpur
I love Pune
I love Chennai

In [15]:
for i in 'India':
    print(i)

I
n
d
i
a

# Using for Loop calculate sum of numbers in the list l1.

In [16]:
l1 = [55,32,54,23,88,55,34,49]

In [17]:
a = 0
for i in l1:
    a = a + i
print('Sum of values in L1 is',a)

Sum of values in L1 is 390

In [18]:
d = {'A':10,'B':20,'C':30}
d

{'A': 10, 'B': 20, 'C': 30}

In [19]:
for i in d:
    print(i)

A
B
C

# Convert Below given D1's from Dict to a list.

In [20]:
d1 = {'A':'Alpha','B':'Beta','C':'Gamma'}
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [21]:
for i in d1:
    print(i)

A
B
C

In [22]:
for i in d1:
    print(d1[i])

Alpha
Beta
Gamma

In [23]:
l1 = []
for i in d1:
    l1.append(i)
    l1.append(d1[i])
print(l1)

['A', 'Alpha', 'B', 'Beta', 'C', 'Gamma']

In [25]:
l1 = []
for i in d1.items():
    l1.extend(i)
print(l1)

['A', 'Alpha', 'B', 'Beta', 'C', 'Gamma']

In [26]:
l1 = []
for i,j in d1.items():
    print(i)
    print(j)

A
Alpha
B
Beta
C
Gamma

# Take the number from the user and print the table of that number.

In [27]:
a = int(input("Please enter a number "))
for i in range(1,11):
    print(a,'X',i,'=',a*i)

Please enter a number 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [29]:
t1 = (('A',10),('B',20),('C',20))
t1

(('A', 10), ('B', 20), ('C', 20))

In [30]:
for i,j in t1:
    print(i)
    print(j)

A
10
B
20
C
20

In [31]:
for i in t1:
    print(i)

('A', 10)
('B', 20)
('C', 20)

# Nested For Loop

In [32]:
for i in t1:
    for j in i:
        print(j)

A
10
B
20
C
20

# While Loop

In [37]:
a = 1

In [38]:
while ( a <= 5 ):
    print('Hello World!')
    a = a + 1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [42]:
print('Value of a is',a)

Value of a is 6

# Note : While Loop can run a infinite loop. -  While True.

# Break Statement

- Break is used to Break / Stop the loop w.r.t a condition.

In [4]:
for i in 'Bangalore':
    if (i == 'l'):
        print('Value l found. Hence Break statement executed.')
        break
    print('Value if i is',i)

Value if i is B
Value if i is a
Value if i is n
Value if i is g
Value if i is a
Value l found. Hence Break statement executed.

In [5]:
l1 = [55,32,54,23,88,55,34,49]

# Write a program to break the loop when number divisible by 8 is found.

In [6]:
for i in l1:
    print('Value is',i)
    if (i%8==0):
        print('Value',i,'is divisible by 8.')
        break

Value is 55
Value is 32
Value 32 is divisible by 8.

# Continue

- Continue will skip the current iteration and move to the next one.

In [7]:
for i in 'Bangalore':
    if (i == 'l'):
        continue
    print('Value is',i)

Value is B
Value is a
Value is n
Value is g
Value is a
Value is o
Value is r
Value is e

# Write a program to print all the even numbers using for and continue.

In [8]:
l1 = [55,32,54,23,88,55,34,49]

In [9]:
for i in l1:
    if(i%2==1):
        continue
    print(i)

32
54
88
34

In [10]:
l1 = [1,2,3,4,5]
l2 = []
for i in l1:
    l2.append(i**2)
print(l2)

[1, 4, 9, 16, 25]

# List Comprehension

In [12]:
l2 = [i**2 for i in l1]
l2

[1, 4, 9, 16, 25]

In [14]:
cities = ['Nagpur','Mumbai','Pune','Hyderabad','Chennai']
cities

['Nagpur', 'Mumbai', 'Pune', 'Hyderabad', 'Chennai']

In [15]:
cities[0].upper()

'NAGPUR'

In [16]:
[i.upper() for i in cities]

['NAGPUR', 'MUMBAI', 'PUNE', 'HYDERABAD', 'CHENNAI']

In [21]:
[[i**2] for i in l1]

[[1], [4], [9], [16], [25]]

In [20]:
[[i**2,i**3] for i in l1]

[[1, 1], [4, 8], [9, 27], [16, 64], [25, 125]]

# If in List Comprehension

In [22]:
l1 = [55,32,54,23,88,55,34,49]

In [24]:
[i for i in l1 if i%2==0]

[32, 54, 88, 34]

# If and Else in List Comprehension

In [25]:
['Even' if i%2==0 else 'Odd' for i in l1]

['Odd', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [26]:
l1

[55, 32, 54, 23, 88, 55, 34, 49]