# Functions in Python

In [1]:
def greet():
    print("Hello! How are you?")

In [2]:
greet()

Hello! How are you?

In [3]:
def squareit(a):
    print('Square of',a,'is',a*a)

In [4]:
squareit()

TypeError: squareit() missing 1 required positional argument: 'a'

In [5]:
squareit(5)

Square of 5 is 25

In [6]:
x = squareit(10)

Square of 10 is 100

In [7]:
x

In [8]:
def squareit1(a):
    return a*a

In [9]:
squareit1(10)

100

In [10]:
x = squareit1(10)

In [11]:
x

100

# Q1. Create a function adder - To take 2 inputs and return sum of them.
- Create using proper print statement.
- Create using return.

# Q2. Create a function to greet them using their name.

In [12]:
def adder(a,b):
    print("Sum of",a,'and',b,'is',a+b)

In [13]:
def adder1(a,b):
    return (a+b)

In [14]:
def greet(name):
    print('Hello',name,'How are you today?')

In [15]:
adder(10,20)

Sum of 10 and 20 is 30

In [16]:
adder1(10,20)

30

In [17]:
greet('Aditya')

Hello Aditya How are you today?

1. Required Arguments
2. Keyword Arguments
3. Default Arguments
4. Positional Arguments
5. Variable Length Arguments
- *Args
- **Kwargs

# Keyword Argument

In [18]:
def entry(name,age):
    print('Name of the user is',name)
    print('Age of the user is',age)

In [19]:
entry(name='Adiya',age=30)

Name of the user is Adiya
Age of the user is 30

In [20]:
entry(name=30,age='Arun')

Name of the user is 30
Age of the user is Arun

# Default Arguments

# We can assign default value to an argument.

In [21]:
def student(name,kind='Fresher'):
    print('The student',name,'is of kind',kind)

In [22]:
student()

TypeError: student() missing 1 required positional argument: 'name'

In [23]:
student('Sneha')

The student Sneha is of kind Fresher

In [24]:
student('Priya','Experienced')

The student Priya is of kind Experienced

In [25]:
student('Rahul')

The student Rahul is of kind Fresher

# Positional Arguments

In [26]:
def employee(fn,ln):
    print('First Name is',fn)
    print('Last Name is',ln)

In [27]:
employee('Aniruddha','Kalbande')

First Name is Aniruddha
Last Name is Kalbande

In [28]:
employee('Kalbande','Aniruddha')

First Name is Kalbande
Last Name is Aniruddha

In [29]:
employee(ln='Kalbande',fn='Aniurddha')

First Name is Aniurddha
Last Name is Kalbande

# Variable Length Argument - *Args (Arguments)

In [33]:
def cities(*city):
    for c in city:
        print('I have been to',c)
    print(type(city))

In [34]:
cities('Delhi')

I have been to Delhi
<class 'tuple'>

In [35]:
cities('Delhi','Pune','Mumbai','Chennai')

I have been to Delhi
I have been to Pune
I have been to Mumbai
I have been to Chennai
<class 'tuple'>

# Create a function to take input as GST value and then all the product prices as an input., Then print all the values with original and value inclusive of GST%.

In [ ]:
xyz(18,100,200)

'Product of price 100 will have 118 as a price inclusive of 18 percent GST.'
'Product of price 200 will have 236 as a price inclusive of 18 percent GST.'

In [41]:
def gst(per,*price):
    for p in price:
        print('Product of price',p,'will have',(p+(per*p)/100),'as a Price inclusive of',per,'percent GST.')

In [42]:
gst(18,100,200)

Product of price 100 will have 118.0 as a Price inclusive of 18 percent GST.
Product of price 200 will have 236.0 as a Price inclusive of 18 percent GST.

In [43]:
gst(10,100,200,300)

Product of price 100 will have 110.0 as a Price inclusive of 10 percent GST.
Product of price 200 will have 220.0 as a Price inclusive of 10 percent GST.
Product of price 300 will have 330.0 as a Price inclusive of 10 percent GST.

In [44]:
gst(18,100,200,300,400)

Product of price 100 will have 118.0 as a Price inclusive of 18 percent GST.
Product of price 200 will have 236.0 as a Price inclusive of 18 percent GST.
Product of price 300 will have 354.0 as a Price inclusive of 18 percent GST.
Product of price 400 will have 472.0 as a Price inclusive of 18 percent GST.

# Variable Lenght Argument - **KWargs (Keyword Arguments)

In [49]:
def function1(**Kwargs):
    for i,j in Kwargs.items():
        print('Keyword is',i,'Value is',j)
    print('Type of',type(Kwargs))

In [50]:
function1(Firstname='Ravi',Lastname='Rastogi',Age=24)

Keyword is Firstname Value is Ravi
Keyword is Lastname Value is Rastogi
Keyword is Age Value is 24
Type of <class 'dict'>

In [51]:
def function1(**Kwargs):
    for i,j in Kwargs.items():
        print(i,'=',j)

In [52]:
function1(Firstname='Ravi',Lastname='Rastogi',Age=24)

Firstname = Ravi
Lastname = Rastogi
Age = 24

# Scope of Variable

In [59]:
a = 10 # A here is a Global Variable , having scope in the entire program.

In [60]:
def func1():
    a = 50 # A is a local variable with scope insite the function only.
    print('Value of a inside the function is',a)

In [61]:
print('Value of a without function call',a)

Value of a without function call 10

In [62]:
func1()

Value of a inside the function is 50

In [63]:
print('Value of a after function call',a)

Value of a after function call 10

# Defining scope of variable as Global

In [64]:
def func2():
    global a
    a = 50
    print('Value of a inside the function',a)

In [65]:
a = 100

In [66]:
print('Value of a outside the function',a)

Value of a outside the function 100

In [67]:
func2()

Value of a inside the function 50

In [68]:
print('Value of a outside the function',a)

Value of a outside the function 50

# Doubt Question

In [69]:
l1 = [10,20,30]

In [70]:
for i in l1:
    print(i)

10
20
30

In [71]:
l2 = [[1,10],[2,20],[3,30]]

In [72]:
for i in l2:
    print(i)

[1, 10]
[2, 20]
[3, 30]

In [73]:
for i,j in l2:
    print(i,j)

1 10
2 20
3 30

In [86]:
l3 = [[1,10,100],[2,20,200],[3,30,300]]

In [87]:
for i in l3:
    print(i)

[1, 10, 100]
[2, 20, 200]
[3, 30, 300]

In [88]:
for i,j,k in l3:
    print(i,j,k)

1 10 100
2 20 200
3 30 300

In [80]:
d1 = {'A':10,'B':20}
d1

{'A': 10, 'B': 20}

In [81]:
list(d1.items())

[('A', 10), ('B', 20)]

In [82]:
for i,j in d1.items():
    print(i,j)

A 10
B 20